@import "src/assets/scss/functions";

svg {
  height: 2.2rem;
}

.checkbox {
  margin-left: -1rem;
}
.select{
  background: getColor(blue);

}
.selected-text{
  color: getColor(white);
}
.completed{
 :global{
   .text-module{
     text-decoration: line-through;
   }
 }
}