$dark-theme: (
  violet: #d313e5,
  blue: #066aff,
  main-background: #23252f,
  background: #171a1f,
  main: #0e1f54,
  foreground: #7e8db7,
  red: #e15252,
  default-icon: #c0ccee,
  shadow: #141517,
  main-text: #cad1e8,
  progress: #444c61,
  shadow-blue: #141517,
  white: #ffffff,
  checkbox: #7e8db7,
  hover: rgba(126, 141, 183, 0.1 ),
  nabvar-background: #181F36,
    navbar-icon:#526496,
    navbar-title: #FFFFFFCC,
    navbar-hover: rgba(0, 0, 0, 0.15)

);
