@import "light_theme";
@import "dark_theme";

:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $dark-theme {
      --#{$name}: #{$color};
    }
  }
}
@function getColor($color-name){
  @return var(--#{$color-name});
}
.container {
  max-width: 80rem;
  width: 100%;
  padding: 0 3rem;
}

.title {
color: getColor(foreground);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 2.4rem 0 1.4rem 0;
}
body {
  background-color: getColor(background);

}
