@import "light_theme";
@import "dark_theme";
@import "variables";
@import "overrides";

*,
*:after,
*:before {
  font-size: calc(10px);
  font-family: "Inter", sans-serif !important;
  box-sizing: border-box;
  color: getColor(main-text);
}
:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme:light;
}
@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $dark-theme {
      --#{$name}: #{$color};
    } color-scheme:dark;
  }
}
:root[color-scheme="light"] {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme:light;
}
:root[color-scheme="dark"] {
  @each $name, $color in $dark-theme {
    --#{$name}: #{$color};
  }
  color-scheme:dark;

}
.container {
  max-width: 80rem;
  width: 100%;
  padding: 0 $main-gap;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  height: 4.5rem;
  color: getColor(foreground);
  font-weight: 700;
  font-size: 1.3rem;
  align-items: center;
  display: flex;
  text-transform: uppercase;
}
body {
  background-color: getColor(background);
  overflow: hidden;
}
main{
  display: flex;
  transition: 0.3s;

  &.open{
    transform: translateX(75vw);
    .circle-container{
      bottom: 0;
    }
  }
}
.vertical {
  background: getColor(white);
  height: 2rem;
  width: 0.15rem;
  border-radius: 0.5rem;
}
.horizontal {
  position: absolute;
  background: getColor(white);
  width: 2rem;
  height: 0.15rem;
  border-radius: 0.5rem;
}
.preloader {
  stroke: getColor(white);
  width: 2.5rem;
  margin: auto;
}
.circle-container {
  position: fixed;
  bottom: 4rem;
  left: 0;
  margin: auto;
  right: 0;
  display: flex;
  justify-content: end;
  pointer-events: none;
  button{
    pointer-events: all;
  }
}

.scroll {
  height: calc(100vh - 12rem);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chapter {
  display: flex;
  align-items: center;
  height: 6.3rem;
  font-size: 3.6rem;
  font-weight: 600;
  color: getColor(main-text);
}
.blue-button, .gray-button {
  font-size: 1.2rem;
  width: 12.5rem;
  height: 4rem;
  border-radius: 3.1rem;
  font-weight: 300;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.blue-button{
  box-shadow: 0 1rem 1.5rem getColor(shadow-blue);
  color: getColor(white);
  background-color: getColor(blue);
}
.gray-button{
  background-color: getColor(background);
  color: getColor(foreground);
}
.module {
  display: flex;
  gap: 1rem;
  background: getColor(main-background);
  align-items: center;
  padding: 2.1rem;
  width: 100%;
  height: 6rem;
  border-radius: 2rem;
  margin-bottom: 0.6rem;
}
.text-module {
  font-size: 1.4rem;
  font-weight: 500;
}
.avatar{
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: getColor(background);
  border: 1px solid getColor(foreground);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

}
.letter{
  font-size: 1.2rem;
  font-weight: 700;
  color: getColor(main-text);
}
.delete-icon{
  path{
    fill: getColor(white);

  }
}
.empty-message{
  color: getColor(empty-message);
  font-weight: 500;
  font-size: 1.6rem;
  margin: 3rem 0;
  text-align: center;
}
.colors{
  margin-right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.module-part{
  display: flex;
  align-items: center;
}
.outgoing, .friend, .pending{
  display: flex;
  justify-content: space-between;
}
