$light-theme: (
  violet: #d313e5,
  blue: #066aff,
  red: #e15252,
  orange: #f2874b,
  yellow: #f9f02c,
  green: #56e513,
  aqua: #4fe1d8,
  pink: #fdb1ec,

  main-background: #ffffff,
  background: #f0f4fb,
  main: #0e1f54,
  foreground: #7e8db7,
  default-icon: #7e8db7,
  shadow: rgba(126, 141, 183, 0.2),
  main-text: #0e1f54,
  progress: #d7ddec,
  white: #ffffff,
  shadow-blue: rgba(6, 106, 255, 0.25),
  checkbox: #7e8db7,
  hover: rgba(126, 141, 183, 0.1),
  nabvar-background: #0e1f54,
    navbar-hover: rgba(9, 19, 52, 0.16),
  navbar-icon: #526496,
  navbar-title: #ffffffcc,
  navbar-active: rgba(0, 0, 0, 0.15),
  empty-message: #bbc5e3,
  opposite-background: #171a1f,
  auth-shadow: rgba(126, 141, 183, 0.2) ,
    helper-text-shadow:rgba(126, 141, 183, 0.5),
);
