@import "functions";

.checkbox-task {
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    margin-left: -1rem;
  }
}

.input {
  .MuiInputBase-root {
    height: 4rem;
    border-radius: 2rem;
    color: getColor(main-text);
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: getColor(foreground) !important;
    border-radius: 2rem;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
  }
  .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 1.4rem !important;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.4rem !important;
    padding-bottom: 2rem !important;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(2rem, 1rem) scale(1) !important;
  }
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: getColor(foreground) !important;
    transform: translate(1.6rem, -0.6rem) scale(0.75);
    font-size: 1.2rem !important;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: getColor(foreground) !important;
  }
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 1.4rem !important;
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    transform: translate(1rem);
  }
  .css-1nrlq1o-MuiFormControl-root {
    width: 100%;
  }
  .MuiSelect-select {
    color: getColor(main-text) !important;
    transform: translate(1rem);
  }
  .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
  .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    color: getColor(foreground) !important;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    path {
      fill: getColor(foreground);
    }
  }
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: getColor(main-background) !important;
  border-radius: 2rem !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 0 !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  color: getColor(main-text) !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background: getColor(hover) !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background: getColor(hover) !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: getColor(main-text) !important;
  transform: translate(0.6rem, 0.4rem) !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: getColor(main-text) !important;
  //transform: translate(0.6rem, 0.4rem)!important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}
.color {
  padding: 2rem 0;
  .css-q8hpuo-MuiFormControl-root {
    width: 8.5rem;
  }
  .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
  .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    color: getColor(foreground) !important;
    width: 2rem;
    height: 2rem;
    margin-top: -0.2rem;
    margin-right: -0.2rem;
    path {
      fill: getColor(foreground);
    }
  }
}
.checkmarks {
  .css-2m9kme-MuiFormControl-root {
    margin: 0 !important;
    width: 100%;
  }
  .css-14lo706{
    width: 5.5rem;
  }


}
.css-10hburv-MuiTypography-root{
  font-size: 1.4rem!important;
}
.checkbox,
.checkbox-small {
  .css-ahj2mt-MuiTypography-root {
    color: getColor(foreground) !important;
  }
  .css-i4bv87-MuiSvgIcon-root {
    width: 2.2rem;
    height: 2.2rem;
  }

  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: getColor(checkbox) !important;
  }
  .MuiSvgIcon-root {
    fill: getColor(foreground) !important;
    width: 2rem !important;
    height: 2rem !important;
  }
}
.checkbox {
  .css-ahj2mt-MuiTypography-root {
    font-size: 1.4rem;
  }
}
.checkbox-small {
  .css-j204z7-MuiFormControlLabel-root {
    margin: 0;
    padding: 0 2rem;
  }

  .css-ahj2mt-MuiTypography-root {
    font-size: 1.2rem;
  }
}
.menu {
  svg {
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    margin-right: 1.5rem;
  }
  li:hover {
    background-color: getColor(hover);
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    color: getColor(main-text);
    font-size: 1.4rem;
  }
  .css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0 0;
  }
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    box-shadow: 0 0.3rem 1.5rem getColor(shadow) !important;
    border-radius: 1.5rem;
    width: 15.9rem;
    background: getColor(main-background);
  }
  li:first-child {
    padding: 1.7rem 1.5rem 1.3rem;
  }
  li:last-child {
    padding: 1.3rem 1.5rem 1.7rem;
  }
}
.categories {
  li:nth-child(2) {
    padding: 1.3rem 1.5rem;
  }
}
.modal,
.categories-modal {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34rem;
  background-color: getColor(main-background);
  border-radius: 3rem;
  padding: 2rem;
  box-shadow: 24;
  .modal-close {
    display: flex;
    justify-content: end;
    button {
      padding: 0 !important;
    }
  }
  .modal-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  input {
    font-size: 1.8rem;
    color: getColor(main-text);
    margin: 3.5rem 0;
    background: none;
    transform: translateX(0.5rem)!important;
  }
  input::placeholder {
    color: getColor(foreground);
  }
  svg {
    height: 3.5rem;
  }
  rect:nth-child(2n + 1) {
    fill: getColor(main-text);
  }
}