@import "src/assets/scss/functions";
header {
  width: 100%;
  min-height: 8rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  svg {
    fill: getColor(default-icon);
  }
}
.right {
  button {
    padding: 0 !important;
  }
  display: flex;
  gap: 3rem;
  svg {
    height: 2.4rem;
  }
}
.burger {
  width: 2.3rem;
}
.icon-button {
  width: 5rem;
  height: 5rem;
  margin: -1.3rem !important;
}
