@import "src/assets/scss/functions";
header {
  width: 100%;
  min-height: 8rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  svg {
    fill: getColor(default-icon);
  }
}
.right {
  button {
    padding: 0 !important;
  }
  display: flex;
  gap: 3rem;
  svg {
    height: 2.4rem;
  }
}
.burger {
  width: 2.3rem;
}
.icon-button {
  width: 5rem;
  height: 5rem;
  margin: -1.3rem !important;
}
.animation {
  pointer-events: none;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1rem;
    height: 1rem;
    animation: theme 0.8s forwards;
    background: #f0f4fb;
    z-index: 1000;
    border-radius: 50%;
  }
  &.dark {
    &:after {
      background: #171a1f;
    }
  }
}
@keyframes theme {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(500);
    opacity: 0;
  }
}
