@import "src/assets/scss/functions";

.categories {
  padding: 1rem 0;
  margin: -1rem 0;
  max-width: 100vw;
  width: 80rem;
  display: flex;
  overflow-x: scroll;
  justify-content: start;
  & > div:first-child {
    margin-left: 3rem;
  }
  & > div:last-child {
    margin-right: 3rem;
  }
}

.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.gradient {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 3rem;
    top: 0;
  }
  &:before {
    z-index: 1;
    left: 0;
    background: linear-gradient(90deg, getColor(background), transparent);
  }
  &:after {
    z-index: 1;
    right: 0;
    background: linear-gradient(90deg, transparent, getColor(background));
  }
}
