@import "src/assets/scss/functions";

.modal-container {
  p {
    text-align: left;
  }
}
.blue {
  background: getColor(blue);
}
.violet {
  background: getColor(violet);
}

.red {
  background: getColor(red);
}
.orange {
  background: getColor(orange);
}
.yellow {
  background: getColor(yellow);
}
.green {
  background: getColor(green);
}
.aqua {
  background: getColor(aqua);
}
.pink {
  background: getColor(pink);
}
.selected{
  width: 4rem;
  border-radius: 1.5rem;
  transform: translate(-1rem, -0.35rem);
}
.input{
  margin-bottom: 2rem;
}
