@import "src/assets/scss/functions";


.modal-container {
  height: 100%;
  padding: 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p, h1 {
    line-height: 2.5rem;
    color: getColor(foreground);
    font-size: 1.8rem;
  }
  p{
    padding: 0 2rem;
    text-align: center;
  }
}
