@import "src/assets/scss/functions";
.circle {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background: getColor(blue);
  box-shadow:  0 1rem 1.5rem getColor(shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
