@import "src/assets/scss/functions";

.avatar{
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: getColor(red);
  border: 1px solid getColor(foreground);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }
}