@import "src/assets/scss/functions";

.layout-mobile{
  background: getColor(nabvar-background);
  min-width: 75vh;
  height: 100vh;
  padding: 7rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-15%);
z-index: 1;
}
.layout{
  background: getColor(nabvar-background);
  width: 37.5rem;
  height: 100vh;
  padding: 7rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-9%);
  position: absolute;
}
.hide{
  left: 23rem;
  bottom: 4rem;
  position: absolute;
  width: 9rem;
  height: 9rem;

  svg{
    height: 4.5rem;
  }

}
.avatar{
  margin: 0;
  border: 2px solid getColor(foreground);
  background: none;
  width: 8rem;
  height: 8rem;

  div{
    background: getColor(foreground);
    width: 6.5rem;
    height: 6.5rem;
    margin: 0.8rem 0;

  }
  p{
    font-size: 3.5rem;
    color: getColor(white);
  }
}
.username{
  padding: 3rem 0 2rem ;
  p{  font-weight: 600;
    padding: 0.5rem 0;
    font-size: 3rem;
    color: getColor(white);}

}
.chapters, .footer{
  svg{
    height: 2.2rem;
    fill: getColor(navbar-icon);
    margin-right: 2.1rem;
  }

}
.chapter{
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}
.title{
  color: getColor(navbar-title);
  font-size: 1.4rem;
}
.special-icon{
  width: 2.2rem;
}
.footer:first-child {
}
.text{
  h1{
    color: getColor(foreground);
    font-size: 1.2rem;
    margin: 0.7rem 0;
  }
  p{
    color: getColor(white);
    font-size: 2rem;
  }
}
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.active{
  background: getColor(navbar-hover);
  transition: 0.3s ease-in;
  border-radius: 2rem;
  padding-left: 2rem;
  margin-left:-2rem;
}