@import "src/assets/scss/functions";
$nav-width:37.5rem;

.navigation {
  background: getColor(nabvar-background);
  width: $nav-width;
  height: 100vh;
  padding: 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -$nav-width;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.3s;
  &.open{
    left: 0;
  }
  @media (max-width: 500px) {
    $nav-width:75vw;
    width: $nav-width;
    left: -$nav-width;

  }
}
.top{
  display: flex;
  justify-content: space-between;
}
.hide {
  width: 9rem;
  height: 9rem;
  margin: -2.3rem!important; ;

  svg {
    height: 4.5rem;
  }
}
.avatar {
    background: getColor(foreground);
  margin-top: 1.6rem;
  border: 0.5rem solid getColor(nabvar-background);
  min-width: 8rem;
  min-height: 8rem;
  outline: 0.2rem solid getColor(foreground);
  p {
    font-size: 3.5rem;
    color: getColor(white);
  }
}
.username {
  padding: 3rem 0 2rem;
  p {
    font-weight: 600;
    padding: 0.5rem 0;
    font-size: 3rem;
    color: getColor(white);
  }
}
.chapters,
.footer {
  svg {
    height: 2.2rem;
    fill: getColor(navbar-icon);
    margin-right: 2.1rem;
  }
}
.chapter {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}
.title {
  color: getColor(navbar-title);
  font-size: 1.4rem;
}
.special-icon {
  width: 2.2rem;
}
.footer:first-child {
}
.text {
  h1 {
    color: getColor(foreground);
    font-size: 1.2rem;
    margin: 0.7rem 0;
  }
  p {
    color: getColor(white);
    font-size: 2rem;
  }
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.active {
  background: getColor(navbar-hover);
  transition: 0.3s ease-in;
  border-radius: 2rem;
  padding-left: 2rem;
  margin-left: -2rem;
}
